

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Voter Registration Portal </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Voter - v4.9.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="home">Voter Registration Portal </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="home">Home</a></li>
          <li><a class="nav-link scrollto" href="aboutus">About</a></li>
          <li><a class="nav-link scrollto" href="apply">Registeration Forms</a></li>

          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="status">Check Status of application</a></li>
              <!-- <li><a href="#">Aadhar Card</a></li>
              <li><a href="#">Pan Card</a></li>
              <li><a href="#">Passport Card</a></li>
              <li><a href="#">Birth Certificate</a></li>
              <li><a href='login.html'>Voter ID</a></li> -->
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="signup">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <style media="screen">
    .main-div{
      border-style:groove;
      border-radius:10px;
      margin-bottom:10px;
      margin-top:10px;
      margin-right:50px;
      padding-left:40px;
      padding-top:40px;

    }
    .main-div:hover {
      box-shadow: 4px 4px 20px #dddddd;
    }
  </style>


    <div class="main-div" style="position:relative;top:150px;left:20px;">
      <div class="row"id="div-width-main">
        <div class="col-lg-6">
          <p>First name &nbsp &nbsp &nbsp : <%=data.firstName %></p>
        </div>
        <div class="col-lg-6 "id="div-width">
          <p>Last name &nbsp&nbsp&nbsp&nbsp: <%=data.lastName %></p>
        </div>
        <div class="col-lg-6">
          <p>Father's name : <%=data.fathersName %></p>
          </div>
        <div class="col-lg-6 "id="div-width">

          <%  var date = data.dob;
          var year = date.toLocaleString("default", { year: "numeric" });
          var month = date.toLocaleString("default", { month: "2-digit" });
          var day = date.toLocaleString("default", { day: "2-digit" });
          var formattedDate = day + "-" + month + "-" + year;%>
          <p>D.O.B &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : <%= date %></p>
        </div>
        <div class="col-lg-6">
          <p>E-mail &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.email %></p>
        </div>
        <div class="col-lg-6 "id="div-width">
          <p>Mobile no. &nbsp&nbsp&nbsp&nbsp: <%=data.mob %></p>
        </div>
        <div class="col-lg-6">


            <p>House no. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.address.house_no %></p>


        </div>
        <div class="col-lg-6"id="div-width">
          <p>Locality  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.address.locality %></p>


        </div>
        <div class="col-lg-6"id="div-width">
          <p>Road name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.address.road_name %></p>
        </div>
        <div class="col-lg-6"id="div-width">
          <p>Pincode  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.address.pincode %></p>
        </div>
        <div class="form-group col-lg-6">
          <p>State &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : <%=data.address.state %></p>
        </div>
        <div class="form-group col-lg-6">
          <p>District  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <%=data.address.district %></p>
        </div>
        <div class="col-lg-6">
          <p>Identity type  &nbsp&nbsp&nbsp&nbsp: <%=data.identity_type %></p>
        </div>

        <div class="col-lg-6">
          <p>Identity number  : <%=data.identity_no %></p>

          </div>

        <div class="division-submit">
          <form class="" action="/about" method="post">
          <input class="btn btn-primary btn1"type="submit" name="" value="Submit" style="position:relative;left:40%;bottom:10px;">
      </form></div>

      <a href="/edit"><button type="button" name="" class="btn btn-primary btn1" style="position:relative;left:30%;bottom:48px;width:80px;" onclick="/apply">Edit</button></a>

    </div>

      </div>





  <footer id="footer" style="position:fixed;bottom:0;width:100%">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Voter Portal</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">AmanJain</a> -->
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
