

  <%- include("partials/header");-%>


<div class="main-div">
  <div class="row"id="div-width-main">
    <div class="col-lg-6">
      <p>First name :</p><p><%=data.firstName %></p>
    </div>
    <div class="col-lg-6 "id="div-width">
      <p>Last name :</p><p><%=data.lastName %></p>
    </div>
    <div class="col-lg-6">
      <p>Father's name :</p><p><%=data.fathersName %></p>
    <div class="col-lg-6 "id="div-width">
        <p>D.O.B name :</p><p><%=data.dob %></p>
    </div>
    <div class="col-lg-6">
      <p>E-mail :</p><p><%=data.email %></p>
    </div>
    <div class="col-lg-6 "id="div-width">
      <p>mobile no.  :</p><p><%=data.mob %></p>
    </div>
    <div class="col-lg-6">
        <p>Address  :</p><p><%=data.house_no %></p>
    </div>
    <div class=""id="div-width">
      <p>locality  :</p><p><%=data.locality %></p>
      <p>road name :</p><p><%=data.road_name %></p>
      <p>Pincode  :</p><p><%=data.pincode %></p>
    </div>

    <div class="form-group col-lg-6">
      <p>State  :</p><p><%=data.state %></p>
    </div>
    <div class="form-group col-lg-6">
      <p>District  :</p><p><%=data.district %></p>
    </div>
    <div class="col-lg-6">
      <p>Identity type  :</p><p><%=data.identity_type %></p>
    </div>

    <div class="col-lg-6">
      <p>Identity number  :</p><p><%=data.identity_no %></p>

      </div>
    <div class="col-lg-6">

    </div>
    <div class="division-submit"><a href="application.html"><input class="btn btn-primary btn1"type="submit" name="" value="Submit"></a>
  </div></div>

  </div>
<%- include("partials/footer");-%>
